<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Id</td>
            <td>{{dataExport.id}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{dataExport.name}}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{dataExport.status}}</td>
        </tr>
        <tr>
          <td>Result</td>
          <td>{{dataExport.result}}</td>
        </tr>
    </tbody>
</table>